# Kafka Configuration
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=raw-security-logs

# Elasticsearch Configuration
ES_HOST=localhost
ES_PORT=9200
ES_INDEX=siem-critical-logs

# Data Configuration
LOG_GENERATION_COUNT=10000
